---
layout: index
title: Dropping's Blog
---
<div class="col-a">
	<!-- site.categories.test 分类 -->
	<ul class="arts">
		{% for post in site.posts %}
			<li>
				<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
				<p class="time">{{ post.date | date_to_string }}</p>
				<div class="pt-item">
					<a href="{{ post.url }}">
						{% if page.image %}
							<img alt="picture" src="{{ post.image }}" />
						{% else %}
						    <img alt="picture" src="http://dummyimage.com/200x300/f1f1f1/999" />
						{% endif %}	
					</a>
					<p>{{ post.excerpt }}...</p>
					<a href="{{ post.url }}" class="read-more">READ MORE</a>
				</div>
			</li>
		{% endfor %}
	</ul>
</div>
<div class="col-b">
	<div class="box-1">
		<h3 class="box-1-th">其他内容盒子</h3>
		<div class="box-1-bd">待定</div>
	</div>
	<div class="box-1">
		<h3 class="box-1-th">Recent Posts</h3>
		<div class="box-1-bd">
			<ul class="pt-list">
				<li>
					<a href="#">
						<img alt="" src="http://dummyimage.com/100x150/f1f1f1/999" />
					</a>
					<p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容...</p>
				</li>
				<li>
					<a href="#">
						<img alt="" src="http://dummyimage.com/100x150/f1f1f1/999" />
					</a>
					<p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容...</p>
				</li>
				<li>
					<a href="#">
						<img alt="" src="http://dummyimage.com/100x150/f1f1f1/999" />
					</a>
					<p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容...</p>
				</li>
			</ul>
		</div>
	</div>
</div>
