<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="/css/art.css" />
	<title>{{ page.title }}</title>
</head>
<body>
    <div class="wrapper">
        {% include header.html %}
        <div class="content clearfix">
            <div class="col-b">
                <div class="box-2">
                    <h3 class="box-2-th">其他内容盒子</h3>
                    <div class="box-2-bd">待定</div>
                </div>  
            </div>
            <div class="col-a">
                <div class="art-box">
                    <h2>{{ page.title }}</h2>
                    <p class="art-time">{{ page.date | date_to_string }}</p>
                    <div class="art-con">
                        {{ content }}
                        
                    </div>
                </div>
                <div id="disqus_thread"></div>
                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
            </div>  
        </div>
        {% include footer.html %}
    </div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'dropping'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();

        // ↓ 下面代码提高性能
        /*$('#disqus_container .comment').on('click',function(){
                $(this).html('加载中...');
                var disqus_shortname = 'beiyuu';
                var that = this;
                BYB.includeScript('http://' + disqus_shortname + '.disqus.com/embed.js',function(){$(that).remove()}); //这是一个加载js的函数
        });*/
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</body>
</html>